@tailwind base;
@tailwind components;
@tailwind utilities;

.n-container {
  max-width: 1300px;
  margin: auto;
  width: 95%;
}

.bigNumber {
  @apply mt-2;
}

.sticky {
  position: fixed;
  top: 10;
  width: 100%;
}
